{
  "cniVersion": "1.0.0",
  "name": "{{ cni_name }}",
  "type": "{{ cni_plugin_type }}",
  "bridge": "{{ cni_interface }}",
  "isGateway": true,
  "ipMasq": true,
  "ipam": {
    "type": "host-local",
    "subnet": "{{ cni_subnet }}",
    "routes": [
      { "dst": "0.0.0.0/0" }
    ]
  }
}
